<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Staff room</title>
</head>

<body text="Black" bgcolor="White" link="#4288BD" vlink="Gray" alink="Navy">

<div align="center"><img src="../../../images/bmaceban.gif" border=0 alt=""></div>
<p></p>
<div align="center"><font size="6"><b>

The Zoo Keeper

</b></font></div><br>&nbsp;<br>



<div align="center">
<table width="90%" border="1" cellspacing="0" cellpadding="5"><tr><td>
<img src="../../images/name.gif" width=56 height=16 border=0 alt="Name"></td></tr></table></div><p></p>


<font face="Arial">
<p>
You are an ancient Egyptian zoo keeper in charge of keeping animals in the palace grounds for the pharaoh. The pharaoh has recently won a battle in Nubia. Now many animals will be brought by the Nubians to the pharaoh as tribute.  
</p><p>
You have been asked to keep track of the most important animals brought to the pharaoh. Watch the procession and report back to the pharaoh about which animals he should add to his personal zoo. The problem is that you only have enough space for two more animals. Which ones will you recommend?
</p>

<p><b>Instructions</b></p>

<ul>
<li>
Go to the 'Pharaoh' section of the Ancient Egypt site, then go to 'Explore'.
<li>
Use the horizontal scroll bar to move the picture left and right.
<li>
Follow the instructions below to find animals in this scene. When you have found them, click on them to learn more about them. 
</ul>

<p>
<b>The Procession</b>
</p><p>
The pharaoh sits under his canopy waiting for the procession to begin. Finally, the procession begins and you can see many different types of animals. Watch closely and as they pass by so you can decide which ones should join the zoo.
</p><p>
The first animal you see jumps around with its long tail flying behind it. Why might the pharaoh want to have this animal in his zoo?
</p>

<hr><br><hr><br><hr><br><hr><br>


<p>
The next animal you see has a very long neck. It walks quickly in front of its keeper who has to pull on its lead. Why might the pharaoh want to have this animal in his zoo?
</p>

<hr><br><hr><br><hr><br><hr><br>


<p>
Minutes later, a strange bird with a long neck and long legs walks by. This bird does not fly. Why might the pharaoh want to have this bird in his zoo?
</p>

<hr><br><hr><br><hr><br><hr><br>

<p>
Finally, you hear a loud roar. A large animal with a fluffy mane walks by. Why might the pharaoh want to have this animal in his zoo?
</p>

<hr><br><hr><br><hr><br><hr><br>

<p>
The procession ends and it is now time for you to make your choices. Choose two of these animals to add to the pharaoh's zoo and explain why you chose them. 
</p>

<hr><br><hr><br><hr><br><hr><br>

<p>
Sketch the animals in the box below.
</p>

<div align="center"><table width="90%" border="1"><tr><td height="250"></td></tr></table></div>




<p>
Well done! The pharaoh agrees with your choices and the new animals will be taken to the zoo. You may now rest until feeding time...
</p>


<p><b>Reflection:</b></p>
<p>Why do you think an ancient Egyptian pharaoh would have a zoo?</p>

<hr><br><hr><br><hr><br><hr><br>


</font>

<p>&nbsp;</p><p>&nbsp;</p>
<div align="center"><img src="../../../images/bmlogosm.gif" border=0 alt="Extensions"></div>

</body>
</html>
